# **** eslint files - 4 files ****
# .eslintrc.js, .vscode, package.json, package-lock.json)
    .eslintrc.js
    .vscode/extensions.js
    package.json
    package-lock.json

# **** node_modules ****
    node_modules
    